@font-face {
  font-family: "<%= fontName %>";
  src: url('<%= fontPath %><%= fontName %>.eot');
  src: url('<%= fontPath %><%= fontName %>.eot?#iefix') format('eot'),
    url('<%= fontPath %><%= fontName %>.woff') format('woff'),
    url('<%= fontPath %><%= fontName %>.ttf') format('truetype'),
    url('<%= fontPath %><%= fontName %>.svg#<%= fontName %>') format('svg');
  font-weight: normal;
  font-style: normal;
}

.<%= className %> > *,
.<%= className %>-icon {
  font-family: "<%= fontName %>";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.<%= className %> {
  list-style: none;
  display: block;
  position: relative;
  padding: 0;
  width: 1em;
  height: 1em;
}

.<%= className %> > * {
  display: block;
  position: absolute;
}

<% _.each(glyphs, function(glyph) { if (glyph.name == 'all') {
  %>.<%= className %>-icon:before { content: "\<%= glyph.codepoint.toString(16).toUpperCase() %>" }
<% } else {
  %>.<%= className %> > .<%= glyph.name %>:before { content: "\<%= glyph.codepoint.toString(16).toUpperCase() %>" }
<% } }); %>